body {
	margin: 0;
	padding: 0;
	font-family: 'Cuprum', sans-serif;
}
.container {
	width: 980px;
	margin: 0 auto;
}
h1,h2,h3, h4, h5,h6, p {
	margin: 0;
	padding: 0;
}
header {
	background: url('../img/first-bg.jpg')no-repeat top center / cover;
	color: #fff;
	padding-bottom: 148px;
}
a {
	color: #fff;
	text-decoration: none;
}
li {
	list-style: none;
}
.logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 41px;


}
 ul {
	display: flex;
	
}
li a {
	padding-left: 36px;
}
.title {
	padding-top: 195px;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	padding-bottom: 45px;
}
span {
	font-size: 75px;
	font-weight: bold;
}
.btn {
	font-size: 18px;
	text-transform: uppercase;
	color: #484543;
	background: #fed136;
	width: 240px;
	display: block;
	padding: 23px 0;
	text-align: center;
	margin: 0 auto;
	border-radius: 3px;

}
.offer {
	padding-top: 115px;
	text-align: center;
}
.offer h2 {
	text-transform: uppercase;
	font-size: 40px;
	font-weight: bold;
}
.offer p {
	font-size: 16px;
	color: #acacac;
	margin-top: 19px;
}
.services {
	
	display: flex;
	justify-content: space-around;
	margin-top: 84px;
	margin-bottom: 73px;
}
.trigger{
	text-align: center;
	
	
}
.trigger h3 {
	padding-bottom: 22px;
	padding-top: 22px;
}
.trigger p {
	width: 240px;
}
.portfolio {
	background: #f7f7f7;
	padding-bottom: 138px;
}
.works {

	display: flex;
	justify-content: space-between;
	margin-top: 80px;
}
.about {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.about p {
	width: 400px;
}
.about:nth-child(3){
	justify-content: flex-end;
}